// Variables and Colours

$base-font-family: "Lato", sans-serif;
$base-heading-font-family: "Lato", sans-serif;

$base-font-size: 16px;
$base-line-height: 24px;

$base-font-color: #121212;
$base-link-color: #000;

$base-h1-color: #fff;
$base-h2-color: #000;
$base-h3-color: #121212;
$base-h2-font-size: 22px;
$base-h3-font-size: 18px;