// Variables and Colours

$base-font-family: "Source Sans Pro", sans-serif;
$base-heading-font-family: "Source Sans Pro", sans-serif;

$base-font-size: 16;
$base-line-height: 24;

$base-font-color: #545454;
$base-link-color: #545454;

$base-h1-color: #212121;
$base-h2-color: #313131;
$base-h3-color: #313131;
$base-h2-font-size: 22;
$base-h3-font-size: 18;