/* ==========================================================================
     Matthew Hartman's Portfolio - https://matthewhartman.com.au
   ========================================================================== */
*, :after, :before {
  box-sizing:border-box;
  user-select: none;
}

html { -webkit-text-size-adjust: 100%; }
body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #121212;
}
a {
  color: #000;
  text-decoration: underline;
}
a:hover,
a:focus {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem 0;
}
h2, .h2 {
  font-size: 22px;
  line-height: 30px;
}
h3, .h3 {
  font-size: 18px;
  line-height: 26px;
}
.sr {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


/* Fade In Left */
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}



/* Fade In Left Big */
@keyframes openCurtain {
  0% {
    transform: translate3d(0, -100%, 0);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  100% {
    transform: translate3d(0, 0, 0);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
}

/* Fade In Up */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}




/* Styles */
@media only screen and (min-width: 768px) {
  html,
  body,
  .page,
  .header,
  .content {
    height: 100%;
  }
}

hr {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #eee;
}

/* Components */
.button {
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 1px;
  padding: 12px 32px;
  background-color: transparent;
  border: 2px solid #fff;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  text-decoration: none;
  display: inline-block;
  transition: all .3s;
  position: relative;
}
.button:hover,
.button:focus {
  background-color: #fff;
}
.button:active {
  color: #fff;
  background-color: #000;
}

/* Header */
.header {
  background-color: #000;
  color: #fff;
  overflow: hidden;
  text-align: center;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-name: openCurtain;
}
.header-heading {
  animation-duration: .8s;
  animation-fill-mode: both;
  animation-delay: .8s;
  animation-name: fadeInLeft;
}
.header-copy {
  animation-duration: .8s;
  animation-fill-mode: both;
  animation-delay: 1s;
  animation-name: fadeInLeft;
}
.header-button {
  animation-duration: .8s;
  animation-fill-mode: both;
  animation-delay: 1.2s;
  animation-name: fadeInLeft;
}
@media only screen and (min-width: 768px) {
  .header {
    position: fixed;
    width: 50%;
    left: 0;
    top: 0;
  }
}
.header-inner {
  margin: 10% auto;
  width: 80%;
}
@media only screen and (min-width: 768px) {
  .header-inner {
    width: 280px;
    margin: 25% auto;
  }
}
@media only screen and (min-width: 960px) {
  .header-inner {
    width: 350px;
  }
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}
.social-links li {
  display: inline-block;
  position: relative;
}
.icon {
  width: 40px;
  height: 40px;
  display: block;
  transition: all .3s;
}
.icon:before {
  transition: all .3s;
  font-size: 11px;
  line-height: 17px;
  position: absolute;
  text-align: center;
  bottom: 0;
  transform: translate(-50%, 0);
  left: 20px;
  padding: 5px;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 5px;
  display: block;
  content: attr(title);
  opacity: 0;
}
.icon:hover, .icon:focus {
  background-position: 50% 0;
}
.icon:hover:before,
.icon:focus:before {
  transform: translate(-50%, 20px);
  opacity: 1;
}
.icon-twitter { background: url(img/twitter.svg) 50% 50% no-repeat; }
.icon-instagram { background: url(img/instagram.svg) 50% 50% no-repeat; }
.icon-github { background: url(img/github.svg) 50% 50% no-repeat; }
.icon-linkedin { background: url(img/linkedin.svg) 50% 50% no-repeat; }
.icon-spotify { background: url(img/spotify.svg) 50% 50% no-repeat; }
.icon-medium { background: url(img/medium.svg) 50% 50% no-repeat; }

.item-twitter {
  animation-duration: .8s;
  animation-fill-mode: both;
  animation-delay: 1.4s;
  animation-name: fadeInLeft;
}
.item-instagram {
  animation-duration: .8s;
  animation-fill-mode: both;
  animation-delay: 1.5s;
  animation-name: fadeInLeft;
}
.item-github {
  animation-duration: .8s;
  animation-fill-mode: both;
  animation-delay: 1.6s;
  animation-name: fadeInLeft;
}
.item-linkedin {
  animation-duration: .8s;
  animation-fill-mode: both;
  animation-delay: 1.7s;
  animation-name: fadeInLeft;
}
.item-spotify {
  animation-duration: .8s;
  animation-fill-mode: both;
  animation-delay: 1.8s;
  animation-name: fadeInLeft;
}
.item-medium {
  animation-duration: .8s;
  animation-fill-mode: both;
  animation-delay: 1.9s;
  animation-name: fadeInLeft;
}

/* Content */
@media only screen and (min-width: 768px) {
  .content {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
  }
}
.content-inner {
  padding: 40px;
}
@media only screen and (min-width: 768px) {
  .content-inner {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media only screen and (min-width: 960px) {
  .content-inner {
    width: 460px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.intro {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  animation-duration: .8s;
  animation-fill-mode: both;
  animation-delay: 1.8s;
  animation-name: fadeInUp;
}
.project-heading {
  animation-duration: .8s;
  animation-fill-mode: both;
  animation-delay: 2s;
  animation-name: fadeInUp;
}
.project {
  border-top: 1px solid #eee;
}
.project-1 {
  border-top-color: #fff;
  animation-duration: .8s;
  animation-fill-mode: both;
  animation-delay: 2.2s;
  animation-name: fadeInUp;
}
.project-2 {
  animation-duration: .8s;
  animation-fill-mode: both;
  animation-delay: 2.4s;
  animation-name: fadeInUp;
}
.project-3 {
  animation-duration: .8s;
  animation-fill-mode: both;
  animation-delay: 2.6s;
  animation-name: fadeInUp;
}
.project-3 {
  animation-duration: .8s;
  animation-fill-mode: both;
  animation-delay: 2.8s;
  animation-name: fadeInUp;
}
.project-4 {
  animation-duration: .8s;
  animation-fill-mode: both;
  animation-delay: 3s;
  animation-name: fadeInUp;
}

/* Utils */
.pad-top-20 { padding-top: 20px; }
.pad-bottom-20 { padding-bottom: 20px; }
.pad-top-30 { padding-top: 30px; }
.pad-bottom-30 { padding-bottom: 30px; }